{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <span class="icon">{{ collector.bundles | length }}</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            Config UI
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': true }) }}
{% endblock %}

{% block head %}
    {{- parent() -}}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon"><img src="" alt="C"/></span>
        <strong>Config UI</strong>
    </span>
{% endblock %}

{% block panel %}
    {%- for bundle in collector.bundles -%}
        <div>
            <div>{{ bundle.name }}</div>
            <div>{{ bundle.namespace }}</div>
            <div>{{ bundle.path }}</div>
            <div>{{ bundle.defaultConfiguration | join }}</div>
            <div>{{ bundle.currentConfiguration | join }}</div>
        </div>
        <hr>
    {%- endfor -%}
{% endblock %}
